.imgdiv2{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgdiv2 img{
 opacity: 0.6;
}


.compHead{
    position: absolute;
    color: rgb(50, 39, 39) ;
    top: 30%;
    opacity: 0.9;
    font-size: 40px;

}
.compspan{
    position: absolute;
    z-index: 2;
    color: #14141a;
    font-size: 40px;
     top: 49%;
}

.overlay{
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: black;
}